extends layout

block vars
  - var pageClass = 'auth'

block content
  .container
    h1 Se connecter
    form(method='post', action='/api/user/login')
      .field
        label(for='name') Pseudo
        input(type='text', id='name', name='name', required)
      .field
        label(for='password') Mot de passe
        input(type='password', id='password', name='password', required)
      .actions
        button.btn.btn-primary.tap(type='submit') Connexion
        a.btn.btn-secondary.tap(href='/register') Créer un compte

